html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
p {
  margin: 0;
}
.contenedor {
  max-width: 130rem;
  width: 100%;
  margin: 0 auto;
}

/* NAVBAR */
.nav {
  display: flex;
  font-weight: 500;
  margin: 4rem 15rem;
  gap: 15rem;
  font-size: 2.5rem;
  align-items: center;
}
.text-nav {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}
.source {
  font-weight: 500;
}
.nombre {
  font-size: 3rem;
}
.links {
  display: flex;
  gap: 5rem;
  font-weight: 300;
}
.ocultarPc {
  display: none !important;
}

@media (max-width: 758px) {
  .ocultarPc {
    display: initial !important;
  }
  .nav {
    flex-direction: column;
    margin: 2rem 0;
    gap: 3rem;
  }
  .links {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    /* animation: fadeIn 0.5s ease-in both; */
  }
  .animacion {
    position: fixed;
    top: -110%;
    /* padding-top: 10rem; */
    height: 100vh;
    width: 100%;
    transition: all 0.5s;
    background-image: linear-gradient(
      to left bottom,
      #000000,
      #0f0104,
      #190307,
      #210408,
      #270608,
      #360b10,
      #470d15,
      #580f18,
      #791620,
      #9b1e28,
      #bd282e,
      #e13333
    );
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
  }
  .activo {
    /* display: none; */
    top: 0;
    transition: all 0.5s;
  }
  .close {
    /* width: 6rem; */
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 10rem;

  }
  .menuOdd {
    display: none;
  }
  .menuCelu {
    display: flex;
    align-items: center;
    gap: 4rem;
    z-index: 1;
  }
  .nombre {
    font-size: 2rem;
  }
  .boton {
    background-color: transparent;
    border: 0px;
  }

  .boton-menu {
    width: 3rem;
    margin-top: 1.3rem;
  }
}

/* INICIO */
.perfil {
  margin-top: 10rem;
  text-align: center;
}
.nombreTitulo {
  font-size: 6rem;
  color: white;
}
.ocupacionTitulo {
  font-size: 5rem;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 1, 1, 1) 69%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imgProgramacion {
  width: 50rem;
  margin-left: 0rem;
  position: relative;
  bottom: 5rem;
  padding-right: 1rem;
}
.imgTecno {
  width: 7rem;
  transition: 0.5s;
}
.imgTecno:hover {
  transition: 0.5s;
  transform: scale(1.2);
}
.tecno {
  margin: 3rem;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.fade div {
  animation: fadeIn 0.5s ease-in both;
}
.fade div:nth-child(2) {
  animation-delay: 0.5s;
}
.fade div:nth-child(3) {
  animation-delay: 1s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 758px) {
  .perfil {
    margin-top: 5rem;
  }
  .nombreTitulo {
    font-size: 3rem;
  }
  .ocupacionTitulo {
    font-size: 2.5rem;
  }
  .tecno {
    margin-top: 2rem;
  }
  .imgTecno {
    width: 5rem;
  }
  .imgProgramacion {
    width: 30rem;
    position: relative;
    bottom: 0rem;
    padding-right: 0rem;
  }
}

/* ACERCA DE MI */
.descripcionDeMi {
  color: white;
  font-weight: 300;
  font-size: 3rem;
  padding: 0 3rem;
}
.subtitulo {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 1, 1, 1) 69%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  margin-top: 2rem;
}
.formacion {
  color: white;
  font-size: 4rem;
  margin-left: 3rem;
  margin-top: 3rem;
}
.universidad {
  color: white;
  font-size: 3rem;
  margin-left: 6rem;
}
.textoFormacion {
  color: white;
  font-weight: 300;
  font-size: 3rem;
  margin-left: 6rem;
}
.redes {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 6rem;
  margin-top: 2rem;
}
.logoRedes {
  width: 4rem;
}
.linkRedes {
  font-weight: 300;
  font-size: 2.5rem;
  text-decoration: none;
  color: white;
}
.linkRedes:hover {
  text-decoration: underline;
}

@media (max-width: 758px) {
  .subtitulo {
    font-size: 4rem;
    text-align: center;
    margin-top: 5rem;
  }
  .descripcionDeMi {
    font-size: 2rem;
    text-align: center;
  }
  .formacion {
    margin-right: 0rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 3.5rem;
    margin-left: 0;
  }
  .universidad {
    font-size: 2rem;
    margin-left: 0;
    text-align: center;
  }
  .textoFormacion {
    font-size: 2rem;
    margin-left: 0rem;
    text-align: center;
  }
  .redes {
    margin-left: 3rem;
  }
  .linkRedes {
    font-size: 2rem;
  }
}

/* TECNOLOGIAS */
.seccTecno {
  color: white;
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
}
.tecno2 {
  margin-bottom: 8rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.imgTecno2 {
  width: 8rem;
  transition: 0.5s;
}
.imgTecno2:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

@media (max-width: 758px) {
  .seccTecno {
    font-size: 3rem;
  }
  .tecno2 {
    gap: 8rem;
    flex-wrap: wrap;
    align-items: normal;
    margin-bottom: 4rem;
  }
  .imgTecno2 {
    width: 5rem;
  }
}

/* PROYECTOS */
.subtituloProyecto {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 1, 1, 1) 69%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  margin-top: 2rem;
}
.descripcionProyecto {
  color: white;
  font-size: 3rem;
  margin-left: 6rem;
  font-weight: 300;
}
.imgRestaurant {
  width: 80rem;
  border: 0.1rem solid rgb(33, 20, 20);
  border-radius: 0.5rem;
}
.divImgRes {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin: 2rem 0;
}
.desPor {
  color: white;
  font-size: 4rem;
  margin-top: 3rem;
}
.desCon {
  color: white;
  font-weight: 300;
  font-size: 3rem;
  margin-left: 6rem;
}
.web {
  color: white;
  font-size: 4rem;
  margin-left: 6rem;
}
.webLink {
  text-decoration: none;
  color: white;
  font-size: 3rem;
  margin-left: 12rem;
  font-weight: 300;
}
.webLink:hover {
  text-decoration: underline;
}
.imgGithub {
  width: 10rem;
}
.secDesCog {
  display: flex;
  justify-content: space-around;
}
.codigo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

@media (max-width: 758px) {
  .subtituloProyecto {
    font-size: 4rem;
    text-align: center;
    margin-top: 5rem;
  }
  .descripcionProyecto {
    margin-left: 0;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2.2rem;
  }
  .imgRestaurant {
    width: 30rem;
  }
  .secDesCog {
    flex-direction: column;
  }
  .desPor {
    font-size: 3.2rem;
    text-align: center;
  }
  .desCon {
    margin-left: 3rem;
    font-size: 2.5rem;
  }
  .imgGithub {
    width: 7rem;
  }
  .webLink {
    text-decoration: none;
    color: white;
    font-size: 2.2rem;
    margin-left: 0rem;
    font-weight: 300;
    text-decoration: underline;
  }
  .webLinkDiv {
    text-align: center;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
  .web {
    display: none;
  }
}
/* Footer */
.footer {
  font-size: 2rem;
  text-align: center;
  color: rgb(197, 197, 197);
  margin: 10rem 0 2rem 0;
}

@media (max-width: 758px) {
  .footer {
    font-size: 1.5rem;
  }
}
